html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.355));
  background-repeat: no-repeat;
  color: white;
}

.logo {
  font-family: 'Cormorant SC', serif;
  color: white;
}

.logo:hover {
  color: #ff9934;
}

.footer {
  font-size: 0.75em;
}

#contact-button {
  background-color: #ff9934;
}

.opponent {
  position: relative;
}

.opponent a {
  text-decoration: none;
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  padding: 2px;
  opacity: 0.75;
  background-color: black;
}

.opponent a:hover {
  color: #ff9934;
}